$f15: calc(10px + (5 + 5 * 0.7) * ((100vw - 320px) / 1920));
$f16: calc(10px + (6 + 6 * 0.7) * ((100vw - 320px) / 1920));
$f20: calc(14px + (6 + 6 * 0.7) * ((100vw - 320px) / 1920));
$f25: calc(16px + (9 + 9 * 0.7) * ((100vw - 320px) / 1920));
$f30: calc(18px + (12 + 12 * 0.7) * ((100vw - 320px) / 1920));
$f40: calc(20px + (20 + 20 * 0.7) * ((100vw - 320px) / 1920));
$f50: calc(30px + (20 + 20 * 0.7) * ((100vw - 320px) / 1920));
$f60: calc(200px + (690 + 690 * 0.7) * ((100vw - 320px) / 1920));
@media (min-width: 1440px) {
    header {
        .container-header {
            .header-right {
                .right-start {
                    margin: 0 50px !important;
                }
            }
        }
    }
}
@media (max-width: 1200px) {
    header {
        .container-header {
            height: 100% !important;
            margin: 5px 0 !important;
            .header-left {
                nav {
                    display: none !important;
                }
            }
            .header-right {
                display: none !important;
            }
            .header-burger {
                display: flex !important;
                .burger-button {
                    width: 80% !important;
                    height: auto !important;
                }
            }
        }
    }
    .section-location {
        .location-photo {
            height: 825px !important;
        }
    }
}
@media (max-width: 1024px) {
    .section-location {
        .location-photo {
            height: 705px !important;
        }
    }
}
@media (max-width: 848px) {
    .section-location {
        .location-photo {
            height: 585px !important;
        }
    }
}
@media (max-width: 768px) {
    .section-location {
        .location-photo {
            height: 725px !important;
        }
    }
}
@media (max-width: 672px) {
    .section-location {
        .location-photo {
            height: 645px !important;
        }
    }
}
@media (min-width: 769px) and (max-width: 1439px) {
    header {
        .container-header {
            .header-left {
                nav {
                    ul {
                        li {
                            margin: 0 5px !important;
                        }
                    }
                }
            }
            .header-right {
                .right-start {
                    margin: 0 0 !important;
                }   
            }
        }
    }
    .section-video {
        .video {
            .video-slide {
                margin: 30px 200px !important;
            }
            .slick-prev {
                left: 5% !important;
                top: 40% !important;
            }
            .slick-next {
                right: 5% !important;
                top: 40% !important;
            }
        }
    }
}
@media (min-width: 577px) and (max-width: 768px) {
    .container {
        max-width: 100% !important;
        padding: 0 30px !important;
    }
    .section-video {
        .video {
            max-height: 470px !important;
            .video-slide {
                text-align: center !important;
            }
            .slick-prev {
                left: 0% !important;
                top: 40% !important;
            }
            .slick-next {
                right: 0% !important;
                top: 40% !important;
            }
        }
    }
    .section-location {
        .container {
            .location-photo {
                .slick-prev {
                    left: -5% !important;
                    top: 47.5% !important;
                }
                .slick-next {
                    right: -5% !important;
                    top: 47.5% !important;
                }
            }
            button {
                margin-bottom: 60px !important;
            }
        }
    }
    .section-buisnes {
        .title {
            margin: 0;
        }
    }
    .section-form {
        .form-subs {
            .sub {
                margin: 20px auto !important;
            }
        }
        .form-payment {
            .title {
                margin-top: 0;
            }
        }
    }
}
@media (max-width: 577px) {
    .title {
        margin: 30px 0 10px !important;
        line-height: 1.2 !important;
    }
    header {
        .container-header {
            height: 30px !important;
            .header-left {
                a {
                    img {
                        width: 60%;
                        height: auto;
                    }
                }
            }
            .header-burger {
                .burger-button {
                    width: 50% !important;
                    height: auto !important;
                }
                .burger-menu {
                    top: 35px !important;
                    div:nth-child(2) {
                        p, i {
                            margin-right: 10px !important;
                        }
                        .fa-roku {
                            height: 18px;
                            img {
                                height: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
    .section-main {
        .main-slider {
            .main-slider-dots {
                bottom: 40px !important;
            }
        }
        .container-main {
            height: 600px !important;
            padding: 0 15px;
            .main-text {
                h2 {
                    margin-top: 100px !important;
                }
                p {
                    line-height: 1.5 !important;
                }
                .promo {
                    .fa-play {
                        margin: 10px auto !important;
                        width: 70px !important;
                        height: 70px !important;
                    }
                }
                button {
                    display: block !important;
                }
            }
        }
    }
    .section-video {
        .video {
            text-align: center !important;
            max-height: 280px;
            margin: 30px 0 !important;
            .video-slide {
                padding: 0 140px !important;
                .slide-image {
                    .fa-play {
                        width: 57px !important;
                        height: 57px !important;
                    }
                }
            }
            .slick-prev {
                top: 40% !important;
                left: -2% !important;
            }
            .slick-next {
                top: 40% !important;
                right: -2% !important;
            }
        }
        button {
            display: block !important;
        }
    }
    .section-device {
        padding-bottom: 50px !important;
        .container {
            .devices {
                margin: 20px 0 10px !important;
            }
        }
    }
    .section-location {
        .container {
            .location-photo {
                height: $f60 !important;
                margin: 15px 0 0 !important;
                .photo {
                    margin-right: 0 !important;
                    padding: 0 !important;
                    height: auto !important;
                }
                .photo:nth-child(1n) {
                    display: none;
                }
                .photo:nth-child(1) {
                    display: block;
                }
            }
            button { 
                display: none;
            }
        }
    }
    .section-buisnes {
        .container {
            .title{
                padding-top: 60px !important;
            }
            .subtitle {
                padding-top: 10px !important;
            }
            .buisnes-button {
                padding: 50px 0 100px !important;
                button {
                    padding: 0 20px !important;
                    margin-right: 5px !important;
                }
            }
        }
    }
    .section-form {
        .container {
            form {
                margin-top: 20px !important;
                .form-subs {
                    .sub {
                        margin: 0 0 10px !important;
                        padding: 25px 5px !important;
                        width: 100%;
                        input {
                            width: 20px !important;
                            height: 20px !important;
                            margin-top: 5px !important;
                            margin-right: 10px !important;
                        }
                        input:before {
                            width: 20px !important;
                            height: 20px !important;
                        }
                        input:after {
                            width: 10px !important;
                            height: 10px !important;
                        }
                        .sub-title_desk {
                            .sub-title {
                                h2 {
                                    margin-right: 15px !important;
                                    max-width: 135px !important;
                                }
                            }
                            .sub-desk {
                                p {
                                    margin-right: 40px !important;
                                }
                            }
                        }
                    }
                }
                .form-subs-desc {
                    margin: 5px 0 5px !important;
                }
                .desc__one {
                    margin: 20px 0 10px !important;
                }
                .title {
                    margin: 0 !important;
                }
                .form-payment {
                    input {
                        margin: 0 0 10px !important;
                    }
                    p { 
                        font-size: 14px;
                        margin-bottom: 10px;
                    }
                }
                button {
                    margin: 20px auto !important;
                    padding: 0 30px !important;
                }
            }
        }
    }
    footer {
        padding: 40px 0 !important;
    }
}
@media (max-width: 321px) {
    .section-video {
        .video {
            text-align: center !important;
            max-height: 280px;
            margin: 30px 0 !important;
            .video-slide {
                padding: 0 160px !important;
            }
            .slick-prev {
                top: 37.5% !important;
                left: -3% !important;
            }
            .slick-next {
                top: 37.5% !important;
                right: -3% !important;
            }
        }
    }
}
// @media (max-width: 1366px) {
//     .location-photo {
//         .slick-list {
//             height: 80% !important;
//         }
//     }
// }
// @media (max-width: 1280px) {
//     .section-video {
//         .video {
//             .slick-prev {
//                 position: absolute;
//                 top: 400px !important;
//                 left: 20px !important;
//                 font-size: $f50 !important;
//                 z-index: 6;
//             }
//             .slick-next {
//                 position: absolute;
//                 top: 400px !important;
//                 right: 20px !important;
//                 font-size: $f50 !important;
//                 z-index: 6;
//             }
//             .video-slider {
//                 .slick-list {
//                     height: 95% !important;
//                 }
//                 .slick-prev {
//                     position: absolute;
//                     top: 400px !important;
//                     left: 20px !important;
//                     font-size: $f50 !important;
//                     z-index: 6;
//                 }
//                 .slick-next {
//                     position: absolute;
//                     top: 400px !important;
//                     right: 20px !important;
//                     font-size: $f50 !important;
//                 }
//             }
//         }
//     }
//     .section-location {
//         .container {
//             .location-photo {
//                 .slick-list {
//                     height: 106% !important;
//                 }
//             }
//         }
//     }
// }
// @media (max-width: 1200px) {
//     header {
//         .container-header {
//             height: 100% !important;
//             margin: 5px 0 !important;
//             .header-left {
//                 nav {
//                     display: none !important;
//                 }
//             }
//             .header-right {
//                 display: none !important;
//             }
//             .header-burger {
//                 display: flex !important;
//                 .burger-button {
//                     width: 80% !important;
//                     height: auto !important;
//                 }
//             }
//         }
//     }
//     .section-video {
//         .container {
//             .video {
//                 margin: 30px 0 0 !important;
//                 height: 900px;
//                 .slick-prev {
//                     position: absolute;
//                     top: 170px !important;
//                     left: -20px !important;
//                     font-size: $f50 !important;
//                     z-index: 6;
//                 }
//                 .slick-next {
//                     position: absolute;
//                     top: 170px !important;
//                     right: -20px !important;
//                     font-size: $f50 !important;
//                     z-index: 6;
//                 }
//                 .video-slider {
//                     .slick-prev {
//                         position: absolute;
//                         top: 150px !important;
//                         left: 40px !important;
//                         font-size: $f50 !important;
//                         z-index: 6;
//                     }
//                     .slick-next {
//                         position: absolute;
//                         top: 150px !important;
//                         right: 40px !important;
//                         font-size: $f50 !important;
//                         z-index: 6;
//                     }
//                     .slick-list {
//                         .slick-track {
//                             .slick-slide {
//                                 height: 90% !important;
//                                 .video-slide {
//                                     max-width: 590px;
//                                     margin: 0 60px !important;
//                                 }
//                             }
//                         }
//                     }
//                 }
//             }
//         }
//     }
//     .section-form {
//         .form-subs {
//             .sub {
//                 margin: 20px auto !important;
//             }
//         }
//     }
//     .section-location {
//         .container {
//             .location-photo {
//                 .slick-list {
//                     max-width: 100%;
//                     .slick-slide {
//                         height: 800px;
//                     }
//                 }
//             }
//         }
//     }
// }
// @media (max-width: 1024px) {
//     .video {
//         height: 400px !important;
//         .slick-prev {
//             display: none;
//         }
//         .slick-next {
//             display: none;
//         }
//         .video-slider {
//             .video-slide {
//                 margin: 0 !important;
//                 padding: 0 25px;
//                 max-width: 640px;
//                 text-align: center;
//             }
//             .slick-prev {
//                 position: absolute;
//                 top: 120px !important;
//                 left: -10px !important;
//                 font-size: $f50;
//                 z-index: 6;
//             }
//             .slick-next {
//                 position: absolute;
//                 top: 120px !important;
//                 right: -10px !important;
//                 font-size: $f50;
//             }
//         }
//         .slick-list {
//             width: 100%;
//             height: 400px !important;
//             .slick-track {
//                 height: 100% !important;
//                 .slick-slide {
//                     height: 100%;
//                 }
//             }
//         }
//         .slick-prev {
//             position: absolute;
//             top: 170px !important;
//             left: 20px !important;
//             font-size: $f50;
//             z-index: 6;
//         }
//         .slick-next {
//             position: absolute;
//             top: 170px !important;
//             right: 20px !important;
//             font-size: $f50;
//         }
//     }
// }